.home-container {
    /*   position: relative; */
    width: 100%;
    /* height: val(100vh - 80px); */
    overflow: hidden;
}

.home-content {
    /*   position: absolute; */
    width: 100%;
    height: calc(100vh - 80px); /* Ajustá según la altura real del navbar */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0 , 0, 0, 0.5)),
          url('/shopping.jpg') no-repeat;
    /* background-image: url('/shopping.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem;
    text-align: center;
    max-width: 1000px;
    max-height: 100%;
    margin: 8% auto 1rem;
}

.bienvenida h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.bienvenida p {
  width: 100%;
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  
}

.bienvenida span {
  color: #0ef;
  transition: 0.5s;
  animation: colores 6s infinite;
}

@keyframes colores {
  0% {color:#0ef;}
  25% {color: #0099ff;}
  50% {color:#0051ff;}
  75% {color:#0004ff;}
  100% {color:#0ef;}
}

section {
  max-width: clamp(80%, 3vw, 90px);
  margin: 0 auto;
}

section h2 {
  font-size: 2rem;
  margin: 4rem 0 1rem;
  border-bottom: 2px solid white;
  padding: 90px 10px 8px 0;
}

.nosotros p {
  line-height: 2;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

section .centro {
  text-align: center;
  font-style: italic;
  margin: 0.5rem 0;
}


/* ******* Preguntas Frecuentes ******* */
/* #container-preguntas {
    padding-top: 96px;
    padding-inline: 10%;
    max-width: 100%;
    max-height: auto;
    background-color: #ddecfa;
    margin: auto;
}

.title-preguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 60px;
    font-size: clamp(0.8rem, 3vw, 2rem);
    margin: auto;
    border-radius: 10px 80px;
    color: #2e5f8c;
    background-color: #80bffa;
} */

details { 
    padding-top: 30px;
}

summary {
    list-style: revert;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: clamp(1rem, 2vw + 0.75rem, 1.875rem);
}

summary:focus {
    outline: none;
}   

details p {
    padding: 10px 0;
    color: #399af5;
    text-align: justify;
    font-size: clamp(1rem, 2vw + 0.75rem, 1.875rem);
}

details p a {
    font-weight: bold;
}

details p a:hover {
    color:#919090;
}

/* mapa */
iframe {
  margin: 24px auto;
  width: 100%;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



