.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #1a2b6d;
  padding: 0.5rem 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Ocultamos el checkbox */
#menu-toggle {
  display: none;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.user-name {
  list-style: none;
  font-weight: bold;
  color: #ffff00;
  padding: 0 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.separator {
  margin-right: 16px;
}


.navbar-links li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar-links li a:hover {
  color: #ffff00
}

.cart-link {
  position: relative;
}

.cart-count {
  background-color: red;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -10px;
  right: -15px;
}

/* Mobile: hamburguesa */
@media (max-width: 680px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgb(26, 43, 109, 0.8);
    width: 100%;
    padding: 1rem;
    height: auto;
  }

  #menu-toggle:checked + .menu-icon + .navbar-links {
    display: flex;
  }
}
